<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title> {{ titulo }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar Sala"> </ion-searchbar>
  <ion-list>
   <!--  //primeiro item da lista -->
    <ion-item-sliding *ngFor="let Salas of listasalas">

    <ion-item lines="full" (click)="exibirSala(Salas)">
      <ion-thumbnail slot="start">
        <img
        alt="Silhouette of mountains"
          [src]="Salas.foto"
        />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{Salas.nome}}</h1>
          <p>{{Salas.horario}}</p>
          <p>{{Salas.equipamentos}}</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline="true">

        <ion-label color="success">{{Salas.ocupacao}}%</ion-label>

      </ion-chip>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Agendar
      </ion-item-option>
<ion-item-option color="danger" (click)="exibirDeletarSala()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>

    </ion-item-options>
  </ion-item-sliding>


  </ion-list>
</ion-content>
