ion-item{

  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail{
    --border-radius: 25% 10%;
   // height: 100%;
    margin-inline-end: 10px;
  }
}
h1{
  font-weight: bold;
  font-size: 0.8rem;

}
p{
  font-size: 0.5rem;
}
p+p{

  color: #636161
}

ion-chip{
  padding-inline: 3px;
}
